/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#vintage {
    background-image: url("https://i.imgur.com/esoGQSU.gif");
    height: 100%;
    width: 100%;
    opacity: 0.06;
    background-repeat: repeat;
    position: absolute;


}

#darken {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}