/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TiroDevaMarathi';
  src: url('../assets/TiroDevaMarathi/TiroDevaMarathi-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

#vin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% 100%;
  mix-blend-mode: overlay;
  background-color: black;
  pointer-events: none;
  opacity: 0.9;
  z-index: -1;
}

#vignette {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-size: 100% 100%;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.9;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}
.change-my-color {
  fill: gold;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: rgb(0, 0, 0);
}

.menu-toggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 28px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 25px;
  position: absolute;
  top: 100px;
}

nav li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Slider styles */

.slider {
  display: flex;
  width: 100%;
  max-width: 447px;
  margin: auto;
}

.thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.thumb.active {
  background-color: #ffffff;
}

.track {
  position: relative;
  background: #FFA700;
}

.track.track-0 {
  background: #ffffff;
}

.slider .track {
  top: 20px;
  height: 4px;
}

.slider .thumb {
  top: 17px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.slider-container {
  max-width: 447px;
  margin: 0px auto 75px auto;
}

.player-wrapper {
  width: 100%;
  position: "fixed";
  z-index: 999;
}

/* Station info section */

.station-info {
  margin-bottom: 30px;
}

.reciter-name {
  font-family: 'TiroDevaMarathi';
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 16;
  color: #FFFFFF;
}

.surah-name {
  font-family: 'TiroDevaMarathi';
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Additional action styles */

.twitter-share-button {
  font-family: 'TiroDevaMarathi';
  font-weight: 400;
  font-size: 18px;
  color: #FFA700
}

.ayah-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 372px;
}

.ayah-text {
  font-family: 'TiroDevMarathi';
  font-style: normal;
  font-weight: 400;
  font-size: 26.43px;
  line-height: 35px;
  color: #FFFFFF;
  text-align: left;
}

.ayah-reference {
  margin-top: 20px
}

.signature {
  position: absolute;
  width: 243px;
  height: 85px;
  margin: 0 auto;
  bottom: 10px;
  left: 38%;
}

.logo {
  position: absolute;
  width: 116px;
  height: 101px;
  right: 20px;
  bottom: 20px;
}

.footer {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
}

@media (max-width: 1024px) {
  .ayah-container {
    position: relative;
    width: 100%;
  }
  .ayah-text {
    text-align: center;
  }
  .ayah-inner {
    width: 480px;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 480px) {
  .slider-container {
    max-width: 460px
  }

  .reciter-name {
    font-size: 35px;
  }

  .surah-name {
    font-size: 18px;
  }
  
  .ayah-text {
    font-size: 22px;
    line-height: 30px;
  }

  .ayah-inner {
    width: 320px;
  }
  .player-wrapper {
    padding: 10px
  }
  .signature {
    width: 180px;
    height: 86px;
    left: 20px;
  }
  .logo {
    width: 95px;
    height: 90px;
  }
}

@media (max-width: 320px) {
  .slider-container  {
    max-width: 310px
  }

  .ayah-inner {
    width: 318px;
  }
}
